body
{
background-color:black;
color:white;
font-family:sans-serif;
}
#title
{
  text-align:center;
  text-transform:capitalize;
}
h3
{
  text-align: center;
}
#survey-form
{
  position:absolute;
  margin-left:23%;
  width: 50%;
  border: 3px solid ;
  border-radius:20px;
  padding: 10px;
  text-align: center;
  line-height: 2em;
  background-color:hsl(0,0%,51%);
  font-size:1.3em;
}
#Name
{
  width:60%;
  margin-left:20%;
  text-align:left;
}
#name-label{
  width:100%;
  outline:none;
  border:none;
  background:none;
  font-size:.8em;
}
#email-label{
  width:100%;
  outline:none;
  border:none;
  background:none;
  font-size:.8em;
}
#number-label{
  width:100%;
  outline:none;
  border:none;
  background:none;
  font-size:.8em;
}
.box{
  border-radius:7px;
  background-color: white;
}
#email
{
  width:60%;
  margin-left:20%;
  text-align:left;
}
#number
{
  width:60%;
  margin-left:20%;
  text-align:left;
}
#dropdown
{
  width:60%;
  margin-left:20%;
  text-align:left;
}
#list
{
  width:100%;
  outline:none;
  border:none;
  height:2em;
  border-radius: 7px;
  font-size:.8em;
}
#recommand
{
  width:60%;
  margin-left:20%;
 text-align: left;
}
#checkbox{
  width:60%;
  margin-left:20%;
 text-align: left;
}
.feedback{
  width:60%;
  margin-left:20%;
 text-align: left;
}
textarea
{
  border-radius: 5px;
}
#submit{
  width:60%;
  outline:none;
  border:none;
  background:lightgreen;
  font-size:.8em;
  height:2em;
}
textarea
{
  width:100%;
  line-height:2.5em;
}
